<%- include("partials/header.ejs") %>


<h1>Welcome to Yashwanth Raj's Blog Posts </h1>

<div class="posts">
    <h2>Available Posts</h2>
    <ul>
    <% if (locals.blogPosts) { %>
        <% blogPosts.forEach(element => { %>
            <li>
                <form action="/viewPost" method="POST">
                    <input type="hidden" name="name" value="<%= element.name %>">
                    <input type="hidden" name="date" value="<%= element.date %>">
                    <input type="hidden" name="description" value="<%= element.description %>">
                    <button type="submit" class="post-link"><%= element.name %></button>
                </form>
            </li>
        <% }); %>
    <% } %>
    </ul>

</div>

<div class="createPost">
    <form action="/createPost" method="POST">
        <input type="text" name="name" placeholder="Name of Post">
        <input type="text" name="date" placeholder="mm/dd/yyyy">
        <input type="text" name="description" placeholder="Your Blog Post">
        <input type="submit" value="Create Post">
    </form>
</div>
    
<%- include("partials/footer.ejs") %>